body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #757575;
}

.logo {

    font-size: 24px;


    width: 92px;
    /* height: 150px; */
}

.logo:before {
    content: "";
    display: block;
    height: 0.3px;
    width: 105px;
    /* border-radius: 0.2vw; */
    background-color: white;
    position: relative;
    top: 0;
    margin: 0 2vw;
    transform: rotate(90deg);
}



.menu {
    display: flex;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.social-icons {
    /* border-right: 1px solid #757575; */
    display: flex;
    margin-left: 15px;
}

.social-icons:after {
    content: "";
    display: block;
    height: 0.3px;
    width: 96px;
    /* border-radius: 0.2vw; */
    background-color: white;
    position: relative;
    top: 0;
    left: 57px;
    /* margin: 0 2vw; */
    transform: rotate(90deg);
}

.social-icons a {
    margin-right: 10px;
}

.search-icon {
    margin-top: 2px;
    margin-top: 2px;

}

.search-icon:before {}

.search-icon:after {
    content: "";
    display: block;
    height: 0.3px;
    width: 76px;
    /* border-radius: 0.2vw; */
    background-color: white;
    position: relative;
    top: -11px;
    /* margin: 0 2vw; */
    transform: rotate(90deg);
}

.phone-number {
    margin-left: 15px;
}

@media (max-width: 768px) {

    .social-icons,
    .phone-number {
        display: none;
    }

    .logo {
        margin-left: 133px;
    }

    .logo:before {
        content: "";
        display: block;
        height: 0.3px;
        width: 105px;
        /* border-radius: 0.2vw; */
        background-color: white;
        position: relative;
        top: 43px;
        margin: 0 2vw;
        transform: rotate(360deg);
        left: -29px;
    }


    /* Show the search icon on smaller screens */
    .search-icon {
        display: block;
        display: none;
    }

    /* Adjust the styles for smaller screens */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .menu {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 133px;
    }

    .menu a {
        margin: 10px 0;
    }
}