/* Base styles */
.professional-container {
   
    width: 100%;
    padding: 49px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.advice {
    width: 484px;
    height: 132px;
    box-shadow: 0px 10px 60px 0px #00000029;
}

.text-6 {
    font-family: Jost;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #0F0D1D;
    margin-left: 87px;
}

.paragraph-7 {
    font-family: Jost;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #726F84;
    margin-left: 87px;
}

.box {
    width: 37px;
    height: 37px;
    background: #EBF1FF;
    margin-left: 39px;
    margin-top: -46px;
}

.count {
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #3C72FC;
    margin-left: 8px;
    margin-top: -23px;
    width: 28px;
    height: 26px;
}

.text-container-7 {
    position: relative;
    left: 15px;
    top: 31px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .professional-container {
        padding: 20px;
        margin-left: -12px;
        width: 97%;
    }

    .advice {
        width: 100%;
    }

    .text-6{
        margin-left: 28px;
        font-size: 7px;
    }
    .paragraph-7 {
        margin-left: 20px;
        font-size: 6px;
    }

    .box {
        margin-left: 6px;
        width: 20px;
        height: 26px;
        margin-top: -53px;
    }

    .count {
        margin-left: 2px;
    font-size: 17px;
    }

    .text-container-7 {
        left: 5px;
        top: 15px;
    }
}
